*{
    padding: 0;
    margin: 0;
}
  

.container{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    background-color: green;
    width: 600px;
    height: 350px;
    margin:10px;
    
}
.images{
    background-color: rgb(207, 16, 16);
    /* width:70%; */
    height:  inherit;
    /* grid-row: 1/2; */
    display: flex;
    flex-direction: column;
}
.info{
background-color: rgba(229, 237, 241, 0.932);
color: black;    

display: flex;
    flex-direction: column;

    align-items:center;
}
.colors{
    display: flex;
    flex-direction:  row;
    align-items: center;
    margin:15px
}
.colors button{
    border-radius: 50%;
    margin:10px ;
    height:2px;
    width: 2px;
}
.submit{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;

    width:240px;
}
.submit button{
  border-radius: 20px;
  /* color:  white; */
  background-color:  transparent;
}

.button1{
    background-color: rgb(14, 14, 17);
}
.button2{
    background-color: red;
}.button3{
    background-color: orange;
}